<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <!-- GLOBAL LISTENERS: Awtomatikong gagana sa LAHAT ng Test Cases -->
    <listeners>
        <listener class-name="utils.TestListener" />
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="tests.TC01_RegisterUserTest" />
            <class name="tests.TC17_RemoveProductsFromCartTest" />
            <class name="tests.TC26_VerifyScrollUpWithoutArrowButtonAndScrollDownFunctionalityTest" />
            <!-- Ilagay lang dito ang iba mo pang test classes -->
        </classes>
    </test>
</suite>